<h2 class='title'>Login</h2>

<form action='/auth/login' method='post'>
  username or email and a password and a button to submit like a field where

  <label>
    Username
    <input type='text' name='username' placeholder='Your username' />
  </label>
  <br />

  <label>
    Password
    <input type='password' name='password' placeholder='Your password' />
  </label>
  <br />
  <button class='button' type='submit'>Log in</button>
</form>